.left {
  background-color: #14263a;
  display: flex;
  color: white;
  height: 100%;
  flex-direction: column;
  box-shadow: 2px 0 10px black ;
  width: 250px;

  hr {
    border: 1px solid #f37a03;

  }

  p {
    font-weight: bold;
  }

  h1 {

    padding: 20px;
  }
}


// side divs
.item {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: rgba(100, 156, 227, 0.4);
    box-shadow: 0 .5px 3px #000 inset,
                0 .5px 0 #000;
  }
}

.products-div {

}



