<div class="header">
  <div class="left-wrapper">
    <div class="left-theme"></div>
    <h1>{{ currentPage }}</h1>

  </div>

  <div class="search">
    <input type="text" id="search_bar">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <div class="right-theme" >
    <div class="profile">
      <i class="fa-solid fa-circle-user"></i>
      <h3>{{ profile }}</h3>
    </div>
    <div class="logout-div">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <h3 id="logout" (click)="logoutUser()">Logout</h3>
    </div>

  </div>
</div>
