$input-bg: #f8fafb;
$input-box-shadow: 0 0 2px 1px #d7d7d7 !important;
$input-hover-box-shadow: 0 0 1px 2px #c9c9c9 !important;
$label-on-bg: linear-gradient(to bottom, white 50%, transparent 30%)  !important;
$width-full: 100% !important;

:host ::ng-deep .p-dialog {
  background-color: #eeeeee !important;
  color: black !important;
  border-radius: 5px;

}

::ng-deep .p-button-rounded {
  &:hover {
    background-color: #e1e1e1 !important;
    color: #b00000 !important;
  }
}


:host ::ng-deep .p-inputtext {
  /*box-shadow: 0 0 2px 1px #d7d7d7 !important;*/
  box-shadow: $input-box-shadow;
  border-radius: 5px;
  background-color: $input-bg;

  &:hover {
    box-shadow: $input-hover-box-shadow;
  }

  &:focus {
    box-shadow: $input-hover-box-shadow;

    & + label {
      background-image: $label-on-bg;
    }
  }

  &.p-filled {
    box-shadow: $input-hover-box-shadow;
    & + label {
      background-image: $label-on-bg;
    }
  }

}

label {
  font-weight: lighter !important;
}

.wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}


h1 {
  font-weight: 500;
}

// FLOATLABEL -> IN LABEL STYLE
:host ::ng-deep .p-textarea {
  background-color: $input-bg;
  box-shadow: $input-box-shadow;

  &:hover, &:focus, &.p-filled{
    box-shadow: $input-hover-box-shadow;
  }
}


:host ::ng-deep .p-floatlabel {
  &:has(.p-inputnumber-input:focus) label,
  &:has(.p-inputnumber-input.p-filled) label{
    background-image: $label-on-bg;
  }
}

.content {
  padding: 10px;
}

:host ::ng-deep .p-datepicker {
  width: $width-full;
  &-input {
    width: $width-full;
  }

  &-panel {
    background-color: #f3f3f3 !important;
    box-shadow: $input-box-shadow;
  }

  .p-button-rounded {
    &:hover {
      background-color: #e1e1e1 !important;
      color: black !important;
    }
  }

}


// IMG
.media-div {
  border: 2px dashed #c9c9c9;
  border-radius: 10px;
  background-color: $input-bg;
}

:host ::ng-deep .p-fileupload{
  background-color: $input-bg;
  border: 2px solid #a6a6a6;
  color: #3d3d3d !important;
  border-radius: 10px;
  transition: .2s all;

  &:hover {
    border: 2px solid #5e5e5e;

  }

  &-choose-button {
    font-size: .9rem !important;
  }


}
