button {
  background-color: #14263a !important;
  border-radius: 5px !important;

  &:hover {
    background-color: #2169b0 !important;
  }
}

.header {
  margin-bottom: 15px;
}

button.category-button {
  background-color: #fc5521 !important;

  &:hover {
    background-color: #e59602 !important;
  }
}

