@mixin flex_def {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4198f3;
  padding: 10px;

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
}


// profile
.profile {
  @include flex_def;
  gap: 10px;
  position: relative;

  i {
    color: white;
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  cursor: pointer;


  //profile settings
  .profile-options {
    @include list_item;
    top: 200%;
    background-color: #d7d7d7;
    padding: 10px;
    width: 12rem;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #868686;
    flex-direction: column;


    ul {
      list-style-type: none;
      width: 90%;

      li {
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        transition: .1s background-color;
        &:hover {

          background-color: #c7c7c7;
        }
      }
    }
  }
}




// search
.center {
  @include flex_def;

  #search_bar {
    width: 50rem;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    font-size: 1.2rem;
  }

  button{
    padding: 13px 20px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bold;

  }
}


// right side
.right {
  @include flex_def;
  gap: 2rem;

  i{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
}


// left side
.left {
  @include flex_def;

  h1{
    @include flex_def;
    gap: 5px;
  }
}



