<div class="login-container">
  <div class="left-side">
    <div class="left-content">
      <h1>Welcome to the webshop!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eum facilis ipsa? Accusantium aut cupiditate ducimus eaque libero maxime necessitatibus nisi quidem? Alias deserunt dolore ipsum, iure modi sit.</p>
    </div>
  </div>
  <div class="right-side">
    <div class="login-header">
      <h1>Welcome back</h1>
    </div>
    <div class="login-body">
      <div class="username-div">
        <input type="text" placeholder="Username or Email" name="username" id="username-input">
      </div>

      <div class="password-div">
        <input type="password" placeholder="Password" name="password" id="password-input">
        <i class="fa-solid fa-eye-slash" id="show"></i>
        <i class="fa-solid fa-eye hidden" id="hide"></i>
      </div>
    </div>
    <div class="reg_option">Don't have an account? <a>Registration</a></div>
    <button id="login-button">Login</button>
  </div>


</div>
