<div class="stat-div">
  <div class="orders item">
    <div class="left">
      <p class="value">0</p>
      <p>Orders</p>
    </div>

    <div class="right">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>


  </div>

  <div class="income item">
    <div class="left">
      <p class="value">0 Ft</p>
      <p>Income</p>
    </div>

    <div class="right">
      <i class="fa-solid fa-print"></i>
    </div>


  </div>

  <div class="payment item">
    <div class="left">
      <p class="value">0 Ft</p>
      <p>Payment</p>
    </div>

    <div class="right">
      <i class="fa-solid fa-credit-card"></i>
    </div>
  </div>

  <div class="users item">
    <div class="left">
      <p class="value">{{ userCount }}</p>
      <p>Total users</p>
    </div>

    <div class="right">
      <i class="fa-solid fa-users"></i>
    </div>
  </div>
</div>
