@mixin flex_def {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
}

.profile {
  @include flex_def;

  // open profile options
  &:hover .profile-options {
    display: flex;

  }

  gap: 10px;
  position: relative;
  padding: 20px 10px;


  i {
    color: white;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  cursor: pointer;


  //profile settings
  .profile-options {
    @include flex_def;
    @include list_item;
    top: 100%;
    background-color: #d7d7d7;
    padding: 10px;
    width: 12rem;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #868686;
    flex-direction: column;
    display: none;



    ul {
      list-style-type: none;
      width: 90%;

      li {
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        transition: .1s background-color;
        &:hover {

          background-color: #c7c7c7;
        }
      }
    }

  }
}
